<div class="chracter-component">
    <a [routerLink]="['/']">
        Back
    </a>
    <table mat-table [dataSource]="dataSource" #table class="mat-elevation-z8">
        
        <ng-container matColumnDef="novel-name">
            <th mat-header-cell *matHeaderCellDef> Novel Name </th>
            <td mat-cell *matCellDef="let element"> {{element.novel.novelName}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="delete-column">                 
                <button mat-raised-button color="primary">Add</button>
            </th>
            <td mat-cell *matCellDef="let element" class="delete-column"> 
                <button mat-icon-button color="primary"  (click)="delete(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary"  (click)="delete(element.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>